<!DOCTYPE html>
<html lang="fr">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <app-header-section></app-header-section>

  <div cdkDropListGroup>

    <div class="example-container">
      <h2 class ="style_h2">Liste des Cours</h2>
        <div cdkDropList [cdkDropListData]="listecours" class="listeDdCoursCss" (cdkDropListDropped)="drop($event)" #listeDdCours (cdkDropListDropped)="calculateScore()">
          <div class="example-box" *ngFor="let coursItem of listecours" cdkDrag (cdkDragEnded)="calculateScore()">
            <h3>{{ coursItem.nomCours }}</h3>
            <p>ID du cours : {{ coursItem.idCours }}</p>
            <p>Lien vers le cours : {{ coursItem.lienVersCours }}</p>
            <p>Vidéo vers le cours : {{ coursItem.videoVersCours }}</p>
            <p>Exercice : {{ coursItem.exercice }}</p>
            <p>Commentaire : {{ coursItem.commentaire }}</p>
          </div>
        </div>
    </div>

    <div class="example-container">
      <h2 class ="style_h2">Actif</h2>
        <div cdkDropList [cdkDropListData]="actif" class="listeDdActifCss" (cdkDropListDropped)="drop($event)" #listeDdActif (cdkDropListDropped)="calculateScore()">
          <div class="example-box" *ngFor="let coursItem of actif" cdkDrag (cdkDragEnded)="calculateScore()">
            <h3>{{ coursItem.nomCours }}</h3>
            <p>ID du cours : {{ coursItem.idCours }}</p>
            <p>Lien vers le cours : {{ coursItem.lienVersCours }}</p>
            <p>Vidéo vers le cours : {{ coursItem.videoVersCours }}</p>
            <p>Exercice : {{ coursItem.exercice }}</p>
            <p>Commentaire : {{ coursItem.commentaire }}</p>
          </div>
        </div>
    </div>

  
    <div class="example-container">
      <h2 class ="style_h2">Finis ({{ score }}%)</h2>
        <div cdkDropList [cdkDropListData]="done" class="listeDdFinisCss" (cdkDropListDropped)="drop($event)" #listeDdFinis (cdkDropListDropped)="calculateScore()">
          <div class="example-box" *ngFor="let coursItem of done" cdkDrag (cdkDragEnded)="calculateScore()">
            <h3>{{ coursItem.nomCours }}</h3>
            <p>ID du cours : {{ coursItem.idCours }}</p>
          </div>
        </div>
    </div>
  </div>

  <button (click)="EnregistrerModifications()">Enregistrer les modifications</button>
  <button (click)="recharger()">Recharger</button>
  <button (click)="resetCours()">Réinitialiser</button>
</body>
</html>