<div class="container">
    <h2>Modifier un consultant</h2>
    <form (ngSubmit)="onModif()">
        <div class="form-group">
            <label for="idConsultant">ID du consultant:</label>
            <input type="text" class="form-control" id="idConsultant" [(ngModel)]="consultantToEdit.idConsultant" name="idConsultant" readonly>
          </div>          
      <div class="form-group">
        <label for="nomConsultant">Nom du consultant:</label>
        <input type="text" class="form-control" id="nomConsultant" [(ngModel)]="consultantToEdit.nomConsultant" name="nomConsultant" required>
      </div>
      <div class="form-group">
        <label for="codeConsultant">Code du consultant:</label>
        <input type="text" class="form-control" id="codeConsultant" [(ngModel)]="consultantToEdit.codeConsultant" name="codeConsultant" required>
      </div>
      <div class="form-group">
        <label for="statutConsultant">Statut du consultant:</label>
        <input type="text" class="form-control" id="statutConsultant" [(ngModel)]="consultantToEdit.statutConsultant" name="statutConsultant" required>
      </div>
      <div class="form-group">
        <label for="mdpConsultant">Mot de passe du consultant:</label>
        <input type="password" class="form-control" id="mdpConsultant" [(ngModel)]="consultantToEdit.mdpConsultant" name="mdpConsultant" required>
      </div>
      <div class="form-group">
        <label for="idAxe">Selectionner l'Axe</label>
        <select class="form-control" id="idAxe" [(ngModel)]="consultantToEdit.idAxe" name="idAxe" required>
          <option value="1">Nouvelles Technologies</option>
          <option value="2">Business Intelligence</option>
          <option value="3">Data Management</option>
          <option value="4">Finance</option>
        </select>
      </div>      
      <div class="form-group">
        <label for="idSpecialite">Sélectionner la Spécialité:</label>
        <select class="form-control" id="idSpecialite" [(ngModel)]="consultantToEdit.idSpecialite" name="idSpecialite" required>
          <option *ngIf="consultantToEdit.idAxe == 1" value="1">JAVA</option>
          <option *ngIf="consultantToEdit.idAxe == 1" value="2">NET</option>
          <option *ngIf="consultantToEdit.idAxe == 1" value="3">Python</option>
          <option *ngIf="consultantToEdit.idAxe == 2" value="4">Data Analytics</option>
          <option *ngIf="consultantToEdit.idAxe == 2" value="5">Data Visualization</option>
          <option *ngIf="consultantToEdit.idAxe == 3" value="6">Database Administration</option>
          <option *ngIf="consultantToEdit.idAxe == 3" value="7">Data Governance</option>
          <option *ngIf="consultantToEdit.idAxe == 4" value="8">Financial Analysis</option>
        </select>
      </div>
      <div class="form-group">
        <label for="score">Score:</label>
        <input type="number" class="form-control" id="score" [(ngModel)]="consultantToEdit.score" name="score" required>
      </div>
      <button type="submit" class="btn btn-primary">Modifier</button>
    </form>
    <button routerLink="/listeConsultant">Retour</button>
  </div>
