<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"> <!-- si y'a pas ca j'ai une erreur bizarre dans le app.compontent.ts-->
    <title>VDE</title>
</head>

<header class="header-outer">
	<div class="header-inner responsive-wrapper">
		<div class="header-logo">
			<img src="https://i.ibb.co/ZSG10Yt/logo-removebg-preview.png" alt="logo"/>
            <div class="text-logo">Village de l'emploi</div>
			<button class="log" *ngIf="connectedAs" (click)="deconnexion()">Déconnexion</button>
  			<button class="log" *ngIf="!connectedAs" (click)="onAuthClick()">Authentification</button>
			
		</div>
		<nav class="header-navigation">
			<p class="ConnectedAsCss" *ngIf="connectedAs">Session : {{ connectedAs }}</p><!-- Recupere le nomConsultant-->
			<!-- <p class="ConnectedAsCss" *ngIf="connectedAs4">{{ connectedAs4 }}</p> Recupere le codeConsultant-->
			<a routerLink="/home">Accueil</a>
			<a routerLink="/listeCours" *ngIf="connectedAs2 === 'Formation'">Cours</a> <!-- Recupere le statutConsultant -->
			<!-- <a routerLink="/listeAxe">Axe</a> -->
			<a routerLink="/listeConsultant" *ngIf="connectedAs2 === 'Admin'">Consultant</a> <!-- Recupere le statutConsultant -->
			<a href="#">Bouton</a>
			<a href="#">Bouton</a>
			<button>Menu</button>
		</nav>
	</div>
</header>
