<main class="main">
	<div class="main-content responsive-wrapper">
		<article class="widget">
			<h2 class="TITRE_WIDGET">Comment ca marche ? 🤯</h2>
            <p>Le Village de l'Emploi suit en permanence l'évolution des besoins du marché dans le domaine des systèmes d'information.
                Nous vous orientons vers les spécialités qui sont à la fois <strong>les plus adaptées à votre profil</strong> et <strong>les 
                plus demandées</strong>. Cela vous permettra de maximiser vos chances. <strong>Les deux spécialités principales</strong> et 
                <strong>les plus demandées sur le marché</strong> sont <strong>Data Management</strong>, plus adaptée aux profils non informaticiens,
                et <strong>Nouvelles Technologies</strong>, pour les profils qui ont déjà des compétences en informatique.</p>
                <h2 class="TITRE_WIDGET">Choisissez une Specialité</h2>
                <div class="button-section">
                    <div class="button-container">
                      <div class="round-button" (click)="onButtonClick(0)">
                        <img src="https://i.ibb.co/MNdx3FN/AMOAImg.webp" alt="Image 1">
                        <p class="style_p_4">Assisant maitrise <br>d'ouvrage</p>
                      </div>
                      <div class="round-button" (click)="onButtonClick(1)">
                        <img src="https://i.ibb.co/HrX6TGM/BIImg.png" alt="Image 2">
                        <p class="style_p_4">Business <br>Intelligence</p>
                      </div>
                      <div class="round-button" (click)="onButtonClick(2)">
                        <img src="https://i.ibb.co/J2Y51N5/programmer-Img.webp" alt="Image 3">
                        <p class="style_p_4">Nouvelles <br>Technologies</p>
                      </div>
                      <div class="round-button" (click)="onButtonClick(3)">
                        <img src="https://i.ibb.co/C04M3dx/data-Management-Img.png" alt="Image 4">
                        <p class="style_p_4">Data <br>Management</p>
                      </div>
                    </div>
                  </div>
		</article>
        <article class="widget2">
        <div class="selected-text" *ngIf="selectedButton !== null">
            <div [innerHTML]="selectedText"></div>
          </div>
        </article>
</div>
</main>