.main {
	margin-top: 3rem;
}

.widget {
	width: 100%;
	max-width: 1035px;
	border-radius: 8px;
	box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
	background-color: #fff;
	padding: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	font-size: 1.125rem;
}

.widget2 {
	width: 100%;
	max-width: 909px;
	border-radius: 8px;
	box-shadow: 0 15px 30px 0 rgba(0,0,0, 0.1);
	background-color: #fff;
	padding: 2.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	font-size: 1.125rem;
} 

.widget > * + * {
	margin-top: 1.25em;
}

.TITRE_WIDGET {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.25;
    text-align: center;
    justify-content: center;
}

.widget code {
	display: inline-block;
	padding: 0.125em 0.25em;
	border-radius: 2px;
	background-color: #bee5d3;
}

.widget strong {
	font-weight: 700;
}

.articleA {
    color: orange;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button-section {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 25px;
    position: sticky;
  }


  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .button-container p {
    margin-bottom: 10px; /* Ajouter un espace sous le titre */
  }

  .round-button {
    width: 180px;
    height: 180px;
    background-color: #6ebe05;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: inset 17px 13px 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 25px;
    
  }
  
  .round-button img {
    width: 400px;
    height: 120px;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .round-button p {
    margin-top: -10px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }
  
  .round-button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #409504;
  }
  
  .style_p_3 {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'MedievalSharp', cursive;
  }

  .style_p_4 {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'MedievalSharp', cursive;
    margin-top: 20px;
  }

  /* Styles pour la première section de texte */
.text-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text-column {
  width: 48%; /* Répartit l'espace en deux colonnes */
}

.main-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Styles pour la liste de spécialisations */
.specializations {
  list-style: none;
  padding-left: 0;
}

.specialization-title {
  font-weight: bold;
}

.download-link {
  text-decoration: underline;
}

/* Styles pour les sous-spécialités */
.sub-specializations {
  list-style: disc;
  padding-left: 20px;
}

/* Styles pour le lien "Voir toutes les spécialités de ce métier" */
.specializations-link {
  text-decoration: underline;
}

/* Styles pour la deuxième section de texte */
.title-description {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-image {
  max-width: 80%; /* Pour que l'image ne dépasse pas la largeur du conteneur */
  max-height: 500px; /* Limite la hauteur de l'image */
  width: auto; /* Adapte la largeur de l'image en fonction de sa hauteur */
  height: auto; /* Adapte la hauteur de l'image en fonction de sa largeur */
}

.text-column img {
    width: 100%;
    max-width: 730px;
    height: auto;
    max-height: 500px;
    display: block;
    margin: 0 auto;
}

.widget2 img {
  width: 100%;
  max-width: 730px;
  height: auto;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}

.text-section img {
  width: 100%;
  max-width: 730px;
  height: auto;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}