<main class="main">
	<div class="main-content responsive-wrapper">
		<article class="widget">
			<h2>Comment ca marche ? 🤯</h2>
            <p>Le Village de l'Emploi suit en permanence l'évolution des besoins du marché dans le domaine des systèmes d'information.
                Nous vous orientons vers les spécialités qui sont à la fois <strong>les plus adaptées à votre profil</strong> et <strong>les 
                plus demandées</strong>. Cela vous permettra de maximiser vos chances. <strong>Les deux spécialités principales</strong> et 
                <strong>les plus demandées sur le marché</strong> sont <strong>Data Management</strong>, plus adaptée aux profils non informaticiens,
                et <strong>Nouvelles Technologies</strong>, pour les profils qui ont déjà des compétences en informatique.</p>
                <h2>Choisissez une Specialité</h2>
                <div class="button-section">
                    <div class="button-container">
                        <div class="round-button">
                            <img src="https://i.ibb.co/MNdx3FN/AMOAImg.webp" alt="Image 1">  
                            <p class="style_p_4">Assisant maitrise <br>d'ouvrage</p>
                        </div>
                        <div class="round-button" >
                            <img src="https://i.ibb.co/HrX6TGM/BIImg.png" alt="Image 2"> 
                            <p class="style_p_4">Business <br>Intelligence</p>
                        </div>
                        <div class="round-button" >
                            <img src="https://i.ibb.co/J2Y51N5/programmer-Img.webp" alt="Image 3">
                            <p class="style_p_4">Nouvelles <br>Technologies</p>
                        </div>
                        <div class="round-button">
                            <img src="https://i.ibb.co/C04M3dx/data-Management-Img.png" alt="Image 4">
                            <p class="style_p_4">Data <br>Management</p>
                        </div>
                    </div>
                </div>
		</article>

        
        


        <div class="articleA">
        <div class="et_pb_with_border et_pb_row et_pb_row_1 et_pb_row_1-4_3-4">
            <div class="et_pb_column et_pb_column_3_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
            <div class="et_pb_text_inner">
            <h1>1 ASSISTANT MA&Icirc;TRISE D&rsquo;OUVRAGE</h1>
            <p>Pour tous les profils Literraires ou scientifiques</p>
            </div>
            </div>
            </div>
            </div>
            <div class="et_pb_row et_pb_row_2">
            <div class="et_pb_column et_pb_column_2_3 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
            <div class="et_pb_text_inner">
            <h4>Description</h4>
            <p>L&rsquo;assistance &agrave; ma&icirc;trise d&rsquo;ouvrage et &agrave; ma&icirc;trise d&rsquo;&oelig;uvre (AMOA/AMOE) est une sp&eacute;cialit&eacute; conseill&eacute;e particuli&egrave;rement aux personnes non techniques puisqu&rsquo;elle ne n&eacute;cessite pas d&rsquo;avoir des comp&eacute;tences techniques. L&rsquo;enjeu de cette sp&eacute;cialit&eacute; est la maitrise de la d&eacute;marche projet et les sp&eacute;cificit&eacute;s m&eacute;tiers.</p>
            </div>
            </div>
            <div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_left et_pb_bg_layout_light">
            <div class="et_pb_text_inner">
            <h4>Responsabilit&eacute;s</h4>
            <ul>
            <li>L&rsquo;aide &agrave; la formulation des besoins du client, et la transcription dans des termes appropri&eacute;s pour les besoins du projet n&eacute;cessitent un bon relationnel, un bon r&eacute;dactionnel, une m&eacute;thodologie solide.</li>
            <li>Des tests de validation sont utilis&eacute;s en aval avec quelques technologies de niveau simple et compr&eacute;hensif par tous.</li>
            </ul>
            </div>
            </div>
            <div class="et_pb_module et_pb_accordion et_pb_accordion_0">
            <div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_0  et_pb_toggle_open">
            <h5 class="et_pb_toggle_title">&nbsp;</h5>
            <h5 class="et_pb_toggle_title">&nbsp;</h5>
            <h5 class="et_pb_toggle_title">AMOA Banque Finance</h5>
            <div class="et_pb_toggle_content clearfix"><a href="https://village-emploi.fr/pdf/Finance.pdf">T&eacute;l&eacute;chargez le programme de formation.pdf</a></div>
            </div>
            <div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_1  et_pb_toggle_close">
            <h5 class="et_pb_toggle_title">AMOA sp&eacute;cialisation Assurances</h5>
            </div>
            </div>
            <div class="et_pb_module et_pb_accordion et_pb_accordion_1">
            <div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_2  et_pb_toggle_open">
            <h5 class="et_pb_toggle_title">AMOA_sp&eacute;cialisation Grande Distribution Logistique</h5>
            <div class="et_pb_toggle_content clearfix"><a href="https://village-emploi.fr/pdf/AMOA_sp%c3%a9cialisation%20Grande%20Distribution_LogistiqueVDE_E%20Commerce.pdf">T&eacute;l&eacute;chargez le programme de formation</a></div>
            </div>
            <div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_3  et_pb_toggle_close">
            <h5 class="et_pb_toggle_title">Programme Assistance &agrave; ma&icirc;trise d ouvrage sp&eacute;cialisation tests et outils de testS</h5>
            </div>
            </div>
            <div class="et_pb_module et_pb_accordion et_pb_accordion_2">
            <div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_4  et_pb_toggle_open">
            <h5 class="et_pb_toggle_title">PROGRAMME ASSISTANCE &Agrave; MA&Icirc;TRISE D OUVRAGE SP&Eacute;CIALISATION g&eacute;stion des risques cr&eacute;dit</h5>
            <div class="et_pb_toggle_content clearfix"><a href="https://village-emploi.fr/pdf/AMOA%20gestions%20de%20risque%20cr%c3%a9dits.pdf">T&eacute;l&eacute;chargez le programme de formation</a></div>
            </div>
            <div class="et_pb_toggle et_pb_module et_pb_accordion_item et_pb_accordion_item_5  et_pb_toggle_close">
            <h5 class="et_pb_toggle_title">PROGRAMME ASSISTANCE &Agrave; MA&Icirc;TRISE D OUVRAGE SP&Eacute;CIALISATION SWIFT ET SEPA</h5>
            </div>
            </div>
            </div>
            <div class="et_pb_column et_pb_column_1_3 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">
            <div class="et_pb_text_inner">
            <h3>Exemples de sp&eacute;cialit&eacute; pour ce m&eacute;tier:</h3>
            </div>
            </div>
            <div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_light">
            <div class="et_pb_text_inner">
            <h4>ASSISTANT MA&Icirc;TRISE d&rsquo;ouvrage&nbsp;</h4>
            <p>Assurance vie</p>
            </div>
            </div>
            <div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_light">
            <div class="et_pb_text_inner">
            <h4>Chef de projet MOA</h4>
            <p>E-Commerce</p>
            </div>
            </div>
            <div class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_left et_pb_bg_layout_light">
            <div class="et_pb_text_inner">
            <h4>Consultant Test</h4>
            <p>Grande distribution</p>
            </div>
            </div>
            <div class="et_pb_module et_pb_text et_pb_text_8  et_pb_text_align_left et_pb_bg_layout_light">
            <div class="et_pb_text_inner">
            <h4>BUSINESS analyste</h4>
            <p>Finances</p>
            </div>
            </div>
            <div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_module et_had_animation"><a class="et_pb_button et_pb_custom_button_icon et_pb_button_0 et_pb_bg_layout_dark" href="https://village-emploi.fr/assistant-maitrise-douvrage/" data-icon="$">Voir toutes les sp&eacute;cialit&eacute;s de ce m&eacute;tier</a></div>
            </div>
            </div>
            <div class="et_pb_row et_pb_row_3">
            <div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough">
            <div class="et_pb_module et_pb_image et_pb_image_0 et-animated et_had_animation"><span class="et_pb_image_wrap ">&nbsp;</span></div>
            </div>
            <div class="et_pb_column et_pb_column_1_2 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough et-last-child">
            <div class="et_pb_module et_pb_text et_pb_text_9 et_pb_text_align_left et_pb_bg_layout_light et_had_animation">
            <div class="et_pb_text_inner">
            <h2>Nacer Djarabi</h2>
            </div>
            </div>
            <div class="et_pb_module et_pb_divider et_pb_divider_0 et_pb_divider_position_ et_pb_space et_had_animation">
            <div class="et_pb_divider_internal">&nbsp;</div>
            </div>
            <div class="et_pb_module et_pb_text et_pb_text_10 et_pb_text_align_left et_pb_bg_layout_light et_had_animation">
            <div class="et_pb_text_inner">
            <h3 class="title style-scope ytd-video-primary-info-renderer">Responsable P&ocirc;le M&eacute;tier et Assistance &agrave; la Maitrise d&rsquo;Ouvrage</h3>
            <p><img class="r48jcc pT0Scc iPVvYb" style="max-width: 1024px; width: 847px; height: 524px; margin: 0px;" src="https://24presse.com/wp-content/uploads/2022/07/nacer_djarabi-1024x633.jpg" alt="https://24presse.com/wp-content/uploads/2022/07/nacer_djarabi-1024x633.jpg" aria-hidden="false" /></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            </div>
            </div>
            </div>
            </div>
            <h1>2 Business Intelligence&nbsp;(BI)</h1>
<p>Pour les profils techniques ou scientifiques&nbsp;</p>
<h2>Description</h2>
<p>La sp&eacute;cialit&eacute; Informatique D&eacute;cisionnelle et Statistiques touche aux syst&egrave;mes d&rsquo;aide &agrave; la d&eacute;cision, que ce soit en terme de conception ou de d&eacute;veloppement.</p>
<h2>Responsabilit&eacute;s</h2>
<p>Elle d&eacute;signe les moyens, les outils et les m&eacute;thodes qui permettent de collecter, consolider, mod&eacute;liser et restituer les donn&eacute;es, mat&eacute;rielles ou immat&eacute;rielles, d&rsquo;une entreprise en vue d&rsquo;offrir une aide &agrave; la d&eacute;cision et de permettre &agrave; un d&eacute;cideur d&rsquo;avoir une vue d&rsquo;ensemble de l&rsquo;activit&eacute; trait&eacute;e.</p>
<p>Elle n&eacute;cessite une ma&icirc;trise de la Business Intelligence et de ma&icirc;trise plusieurs ETL (Outilsde traitement de donn&eacute;es), couramment utilis&eacute;s par les Directions syst&egrave;me d&rsquo;information.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Informatique D&eacute;cisionnelle_sp&eacute;cialisation DATASTAGE</h3>
<p><a href="https://village-emploi.fr/pdf/Informatique%20D%c3%a9cisionnelle_sp%c3%a9cialisation%20DATASTAGE.pdf">T&eacute;l&eacute;chargez le programme de formation</a></p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Informatique D&eacute;cisionnelle_sp&eacute;cialisation GENIO</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Informatique D&eacute;cisionnelle_sp&eacute;cialisation INFORMATICA</h3>
<p><a href="https://village-emploi.fr/pdf/Informatique%20D%c3%a9cisionnelle_sp%c3%a9cialisation%20VDE%20INFORMATICA.pdf">T&eacute;l&eacute;chargez le programme de formation</a></p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Informatique D&eacute;cisionnelle_sp&eacute;cialisation SAS</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Informatique d&eacute;cisionnelle_sp&eacute;cialisation MS BI</h3>
<p><a href="https://village-emploi.fr/pdf/Informatique%20d%c3%a9cisionnelle_sp%c3%a9cialisationVDE%20MS%20BI.pdf">T&eacute;l&eacute;chargez le programme de formation</a></p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Informatique D&eacute;cisionnelle_sp&eacute;cialisation ODI</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Informatique D&eacute;cisionnelle_sp&eacute;cialisation TALEND</h3>
<p><a href="http://www.village-emploi.fr/pdf/Informatique%20D%c3%a9cisionnelle_sp%c3%a9cialisationVDE%20TALEND.pdf">T&eacute;l&eacute;chargez le programme de formation</a></p>
<p>&nbsp;</p>
<p>Exemples de sp&eacute;cialit&eacute; pour ce m&eacute;tier:</p>
<ul>
<li>Analyste base de donn&eacute;es</li>
<li>Assurance vie</li>
<li>Analyste-concepteur SI</li>
<li>E-Commerce</li>
<li>Gestionnaire base de donn&eacute;es</li>
<li>Grande distribution</li>
<li>D&eacute;veloppeur ETL</li>
</ul>
<h2>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DATASTAGE</h2>
<p><a href="https://village-emploi.fr/linformatique-decisionnelle/">Voir toutes les sp&eacute;cialit&eacute;s de ce m&eacute;tier</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>AHMED AKROUR</h2>
<p>Responsable P&ocirc;le d&eacute;cisionnel, Architecture SI</p>
<p><img class="r48jcc pT0Scc iPVvYb" style="max-width: 1250px; height: 424px; margin: 0px; width: 847px;" src="https://static.lpnt.fr/images/2020/03/04/20117447lpw-20217834-article-jpg_7022039_1250x625.jpg" alt="Le Village de l'Emploi : Trouver un m&eacute;tier rapidement dans l'informatique" aria-hidden="false" /></p>
	
    <h1>3 NOUVELLES TECHNOLOGIES ET D&Eacute;VELOPPEMENT</h1>
<p>Pour les informaticiens</p>
<h2>Description</h2>
<p>La sp&eacute;cialit&eacute; Nouvelles Technologies et D&eacute;veloppement s&rsquo;adresse aux informaticiens, ou &agrave; des personnes ayant des bases techniques.<br />L&rsquo;apport du Village de l&rsquo;Emploi consiste &agrave; consolider les comp&eacute;tences en d&eacute;veloppement logiciel, par l&rsquo;apprentissage de plusieurs langages de programmation, dans un environnement de d&eacute;veloppement r&eacute;el : Nouvelles technologies, Client/serveur , Mainframe.</p>
<h2>Responsabilit&eacute;s</h2>
<p>L&rsquo;ing&eacute;nieur &Eacute;tudes et D&eacute;veloppement con&ccedil;oit, d&eacute;veloppe et met au point un projet d&rsquo;application informatique, de la phase d&rsquo;&eacute;tude &agrave; son int&eacute;gration pour un client ou une entreprise selon des besoins fonctionnels et un cahier des charges.</p>
<p>Il peut conduire des projets de d&eacute;veloppement et coordonner une &eacute;quipe</p>
<p>&nbsp;</p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Etudes et D&eacute;veloppement_sp&eacute;cialisation JAVA J2EE</h3>
<p><a href="http://www.village-emploi.fr/pdf/Etudes%20et%20D%c3%a9veloppement_sp%c3%a9cialisation%20JAVA%20VDE%20%20J2EE.pdf">T&eacute;l&eacute;chargez le programme de formation</a></p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Etudes et D&eacute;veloppement_sp&eacute;cialisation AGL</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Etudes et D&eacute;veloppement_sp&eacute;cialisation DOTNET</h3>
<p><a href="https://village-emploi.fr/metiers-si/Etudes%20et%20D&eacute;veloppement_sp&eacute;cialisation%20VDE%20DOTNET.pdf">T&eacute;l&eacute;chargez le programme de formation</a></p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ETUDES ET D&Eacute;VELOPPEMENT_SP&Eacute;CIALISATION C++</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ETUDES ET D&Eacute;VELOPPEMENT_SP&Eacute;CIALISATION PHP</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ETUDES ET D&Eacute;VELOPPEMENT_SP&Eacute;CIALISATION JAVASCRIPT</h3>
<p>&nbsp;</p>
<p>Exemples de sp&eacute;cialit&eacute; pour ce m&eacute;tier:</p>
<ul>
<li>Concepteur / d&eacute;veloppeur</li>
<li>Java EE</li>
<li>D&eacute;veloppeur Web</li>
<li>Drupal</li>
<li>Ingenieur &eacute;tudes et dev</li>
<li>PHP</li>
<li>Chef de projet</li>
<li>.NET E-Commerce</li>
</ul>
<p><a href="https://village-emploi.fr/les-etudes-et-le-developpement-logiciel/">Voir toutes les sp&eacute;cialit&eacute;s de ce m&eacute;tier</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Yougerthen BOUHANIK</h2>
<p>Yougerthen BOUHANIK &ndash; Ex-Laur&eacute;at, consultant-expert Nouvelle Technologie et Business Intelligence.</p>
<p><img class="r48jcc pT0Scc iPVvYb" style="max-width: 885px; height: 479px; margin: 0px; width: 847px;" src="https://images.midilibre.fr/api/v1/images/view/5e7e0e17d286c22378003315/large/image.png?v=1" alt="Booster votre carri&egrave;re gr&acirc;ce au Village de l'Emploi ! - midilibre.fr" aria-hidden="false" /></p>
<h1>4-Data Management</h1>
<p>Pour les profils techniques et scientifiques</p>
<h2>Description</h2>
<p>On a tendance &agrave; consid&eacute;rer les m&eacute;tiers de la production et de l&rsquo;exploitation comme la derni&egrave;re roue du carrosse. D&eacute;trompez-vous ! S&rsquo;il est un secteur qui recrute, c&rsquo;est bien celui-ci.</p>
<h2>Responsabilit&eacute;s</h2>
<p>Les m&eacute;tiers concernent tous les niveaux : les titulaires d&rsquo;un bac+2 peuvent devenir technicien d&rsquo;exploitation, technicien r&eacute;seau ou t&eacute;l&eacute;coms, analyste syst&egrave;me, administrateur d&rsquo;outils/syst&egrave;me/r&eacute;seaux et t&eacute;l&eacute;coms ou pilotes d&rsquo;exploitation,</p>
<p>les bac+4/+5 &eacute;volueront, eux, vers des postes d&rsquo;administrateur de base de donn&eacute;es ou d&rsquo;int&eacute;grateur d&rsquo;exploitation.</p>
<p>&nbsp;</p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Les m&eacute;tiers de la Data Management, syst&egrave;mes et base de donn&eacute;es.</h3>
<p><a href="https://village-emploi.fr/wp-content/uploads/2020/09/Annexe-2-PROD-Administration-Base-de-donnees.pdf">T&eacute;l&eacute;charger le programme de la formation</a></p>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data Management S&eacute;curit&eacute; R&eacute;seaux</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data Management et Exploitation</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data Management Dev Ops</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Data Management, Administration Syst&egrave;mes Linux</h3>
<h3>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Administration Windows</h3>
</div>
</div>
</main>