<!DOCTYPE html>
<html lang="fr">
<body>
  <div class="hero-section">
    <img src="https://i.ibb.co/T0YS5JR/hero-green.png" alt="background-banner" id="hero-green" />
    <img src="https://i.ibb.co/0c2258r/hero-blue.png" alt="background-banner" id="hero-blue" />
    <img src="https://i.ibb.co/k0Yd94P/hero-pink.png" alt="background-banner" id="hero-pink" />
    <img src="https://i.ibb.co/DYpzjS1/hero-orange.png" alt="background-banner" id="hero-orange" />
    <div class="hero-text">
      <div [style.white-space]="'pre-line'">{{ heroText }}</div>
    </div>
  </div>
  
  <div class="button-container">
    <button (click)="changeHero('hero-orange', 'var(--color-orange)')" [class.active]="currentHero === 'hero-orange'">
      <div class="circle orange"></div> Un Process Offert
    </button>
    <button (click)="changeHero('hero-blue', 'var(--color-blue)')" [class.active]="currentHero === 'hero-blue'">
      <div class="circle blue"></div> Un Job d'Avenir
    </button>
    <button (click)="changeHero('hero-pink', 'var(--color-pink)')" [class.active]="currentHero === 'hero-pink'">
      <div class="circle pink"></div> Un Accompagnement
    </button>
    <button (click)="changeHero('hero-green', 'var(--color-green)')" [class.active]="currentHero === 'hero-green'">
      <div class="circle green"></div> Une Expertise
    </button>
  </div>
  
  
  
  
  

    <script>
      function changeHero(imageId) {
          // Masquer toutes les images du hero
          document.getElementById('hero-green').style.display = 'none';
          document.getElementById('hero-blue').style.display = 'none';
          document.getElementById('hero-pink').style.display = 'none';
          document.getElementById('hero-orange').style.display = 'none';

          // Afficher l'image correspondant au bouton cliqué
          document.getElementById(imageId).style.display = 'block';
      }
    </script>
</body>
</html>
