:root {
  --color-green: #409504;
  --color-blue: #07968D;
  --color-pink: #960A96;
  --color-orange: #957009;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    z-index: 1; 
}

.hero-section img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

.hero-content {
    position: absolute;
    color: rgb(255, 255, 255);
}

.hero-text {
  position: absolute;
  overflow: hidden;
  top: 55%;
  left: 200px; /* Ajustez la valeur en fonction de l'emplacement souhaité */
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7); 
  color : white;
  padding: 10px;
  border-radius: 10px; /* Bords arrondis */
  font-size: 24px;
}

.image-container {
  text-align: center;
}

.image-container img {
  max-width: 100%;
  display: none;
}

.button-container {
  display: flex;
  flex-direction: row; /* Afficher les boutons côte à côte */
  align-items: center; /* Aligner les éléments verticalement au centre */
  justify-content: center; /* Centrer les boutons horizontalement */
  background-color: black;
  padding: 10px;
}

button {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: black; /* Doit etre black*/
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 50px; /* Ajoute un espacement à droite de chaque bouton */
  margin-left: 50px; /* Ajoute un espacement à gauche de chaque bouton */
  border-radius: 10px; /* bords arrondis*/ 
  transition: background-color 0.3s; /* Animation de transition de la couleur de fond */
}

/* Styles pour le survol */
.button-container button:hover {
  background-color: #4D4C4D; /* Prend la couleur du bouton au survol */
}

/* Styles pour le clic (actif) */
.button-container button:active {
  background-color: #4D4C4D; /* Prend la couleur du bouton au clic */
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px; /* Espace entre le cercle et le texte du bouton */
  background-color: transparent; /* Par défaut, le cercle est transparent */
}

.circle.orange { background-color: #409504; }
.circle.blue { background-color: #409504; }
.circle.pink { background-color: #409504; }
.circle.green { background-color: #409504; }

/* Style pour le bouton actif */
button.active .circle {
  background-color: inherit; /* Le cercle prend la couleur du texte du bouton actif */
}