<header>
  <footer class="footer">
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Uchiha</h2>
        <ul class="nav__ul">
          <li>
            <a href="#">Sasuke</a>
          </li>
          <li>
            <a href="#">Obito</a>
          </li>
          <li>
            <a href="#">Madara</a>
          </li>
        </ul>
      </li>
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Hokage</h2>
        <ul class="nav__ul nav__ul--extra">
          <li>
            <a href="#">Hashirama Senju</a>
          </li>
          <li>
            <a href="#">Tobirama Senju</a>
          </li>
          <li>
            <a href="#">Hiruzen Sarutobi</a>
          </li>
          <li>
            <a href="#">Minato Namikaze</a>
          </li>
          <li>
            <a href="#">Tsunade Senju</a>
          </li>
          <li>
            <a href="#">Kakashi Hatake</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <h2 class="nav__title">Genie du Genjutsu</h2>
        <ul class="nav__ul">
          <li>
            <a href="#">Alain</a>
          </li>
          <li>
            <a href="#">MBF55</a>
          </li>
          <li>
            <a href="#">wallah cé vrai</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="legal">
      <p>&copy; 2023 Fais par Alain Yechouti</p>
      <div class="legal__links">
        <span>Je sais pas quoi Ecrire<span class="heart">♥</span> ici ! :p </span>
      </div>
    </div>
  </footer>