<!DOCTYPE html>
<html>
<head>
      <title>Connexion</title>
</head>
<body>
    <h2>Connexion</h2>
    <form (ngSubmit)="onLoginSubmit()" #loginForm="ngForm">

        <label for="codeConsultant">Nom d'utilisateur :</label>
        <input type="text" class="form-control mb-2" id="codeConsultant" name="codeConsultant" required [(ngModel)]="username" placeholder="Entrer le nom d'utilisateur"><br><br>

        <label for="mDPConsultant">Mot de passe :</label>
        <input type="password" class="form-control mb-2" id="mDPConsultant" name="mDPConsultant" required [(ngModel)]="password" placeholder="Entrer Mot de passe"><br><br>

        <button type="submit">Authentification</button>
    </form>
</body>
</html>
