<!DOCTYPE html>
<html lang="fr">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1 class="style_p_3"> Liste des Axes </h1>
<div class="table_container">
  <table class="boostrap4_table_head_dark_striped_rounded_with_shadow">
    <thead>
      <tr>
        <th>Id Axe</th>
        <th>Nom Axe</th>
        <th>Nombre de Specialite</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let axe of axes">
        <td>{{ axe.idAxe }}</td>
        <td>{{ axe.nomAxe }}</td>
        <td>{{ axe.nbSpecialite }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</body>
</html>