table.boostrap4_table_head_dark_striped_rounded_with_shadow {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    background-color: #D4F0FA; /*  FOND TABLEAU 1/2 */
    box-shadow: #D4F0FA 0px 5px 15px; /* couleur OMBRE */
    border-radius: 10px;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow thead th {
    font-size: 1rem;
    line-height: 1.5;
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: center;
    padding: .75rem;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #ffffff; /*  Couleur police en tete */
    background: #57C4EB; /* Couleur en tete*/
    border-color: #000000; /* Couleur bordure*/
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow td {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529; /* Couleur POLICE */
    text-align: center;
    border-collapse: collapse;
    box-sizing: border-box;
    padding: .75rem;
    vertical-align: top;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow tbody tr:nth-of-type(odd) {
    background-color: #ffffff; /* FOND TABLEAU 2/2 */
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow th:first-of-type {
    border-top-left-radius: 10px;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow th:last-of-type {
    border-top-right-radius: 10px;
    text-align: center;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 10px;
}

table.boostrap4_table_head_dark_striped_rounded_with_shadow tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 10px;
}

.table_container {
    max-width: 80vw;
    margin: 20px auto;
    margin-right: auto;
}

body {
    font-family: sans-serif;
}

.center-column {
    text-align: center;
}

.style_p_3 {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'MedievalSharp', cursive;
    text-align: center; 
    margin-top: 2%; 
  }

  .btn-add {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 8px 16px; 
    border-radius: 4px;
    cursor: pointer; 
    text-decoration: none; 
    justify-content: center;
    box-sizing: content-box;
    text-align: center;
    width: auto;
    margin: auto;
  }
  
  .btn-add:hover {
    background-color: #0056b3; 
  }
  
  
  .btn-delete {
    background-color: #F19937;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-delete:hover {
    background-color: #c82333;
  }
  

  .btn-update {
    background-color: #C94B91;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-update:hover {
    background-color: #592240;
  }

  .btn-view {
    background-color: #6BB346;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn-view:hover {
    background-color: #233B17;
  }