.table_container {
    max-width: 95vw;
    margin: 20px auto;
    margin-right: auto;
}

.btn-add {
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    padding: 8px 16px; 
    border-radius: 4px;
    cursor: pointer; 
    text-decoration: none; 
    justify-content: center;
    box-sizing: content-box;
    text-align: center;
    width: auto;
    margin: auto;
  }
  
.btn-add:hover {
    background-color: #0056b3; 
  }
  
  
.btn-delete {
    background-color: #F19937;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
.btn-delete:hover {
    background-color: #c82333;
  }

.btn-update {
    background-color: #C94B91;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
.btn-update:hover {
    background-color: #592240;
  }

.btn-view {
    background-color: #6BB346;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
.btn-view:hover {
    background-color: #233B17;
  }

.mat-paginator-style{
  margin-top: 20px;
}
  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
   
  }

.mat-expansion-panel{
  font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    background-color: #faf7ff; /*  FOND TABLEAU 1/2 */
    box-shadow: #024057 0px 5px 15px; /* couleur OMBRE */
    border-radius: 10px;
}

.mat-expansion-panel mat-expansion-panel-header:nth-of-type(odd) {
  background-color: #93dcf7; /* FOND TABLEAU 2/2 */
}

.mat-expansion-panel section:first-of-type {
  border-top-left-radius: 10px;
}

.mat-expansion-panel section:last-of-type {
  border-top-right-radius: 10px;
}

.mat-expansion-panel span:last-of-type span:first-of-type {
  border-bottom-left-radius: 10px;
}

.mat-expansion-panel span:last-of-type span:last-of-type {
  border-bottom-right-radius: 10px;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
}

.style_p_3 {
  font-size: 2rem;
  color: black;
  font-family: 'MedievalSharp', cursive;
  text-align: center; /* Centrer horizontalement */
  margin-top: 2%; /* Margin top de 10% */
}

:root {
--mat-header-row-height : 56px;
--mat-row-height: 48px;
--mat-row-horizontal-padding: 24px;
}

/* Styliser le tableau */
.mat-table {
  display: block;
  background-color: inherit;
}

/* Styliser la rangée d'en-tête */
.mat-header-row {
  min-height: --mat-header-row-height;
}

/* Styliser les rangées de données */
.mat-row {
  min-height: --mat-row-height;
}

/* Styliser les rangées (en-tête et données) */
.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 --mat-row-horizontal-padding;
  box-sizing: border-box;
  position: relative; /* Ajouter une position relative pour utiliser ::after */
}

/* Ajouter une ligne de séparation après chaque rangée */
.mat-row::after,
.mat-header-row::after {
  content: '';
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black; /* Couleur de la ligne de séparation */
}

/* Styliser les cellules (en-tête et données) */
.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  justify-content: space-between;
}
