<!DOCTYPE html>
<html lang="fr">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  
  <app-header-section></app-header-section>
  
  <mat-paginator #paginator class="mat-paginator-style"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]"
></mat-paginator>
<h1 class="style_p_3"> Liste des Consultants </h1>
<div class="table_container">

<mat-accordion displayMode="flat" background-color = "#57c4eb" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell">Id</span>
    <span class="mat-header-cell">Nom</span>
    <span class="mat-header-cell">Code</span>
    <span class="mat-header-cell">Statut</span>
    <span class="mat-header-cell">Mdp</span>
    <span class="mat-header-cell">Axe</span>
    <span class="mat-header-cell">Specialite</span>
    <span class="mat-header-cell">Score</span>
    <span class="mat-header-cell2"></span>
    <span><button routerLink="/addConsultant" class="btn-add">Ajouter</button></span>
    <span class="mat-header-cell2"></span>
  </section>

  <mat-expansion-panel *ngFor="let consultant of consultants" hideToggle class="disable-row-click">
    <mat-expansion-panel-header class="mat-row" hideToggle>
      <span class="mat-cell" >{{consultant.idConsultant}}</span>
      <span class="mat-cell">{{consultant.nomConsultant}}</span>
      <span class="mat-cell">{{consultant.codeConsultant}}</span>
      <span class="mat-cell">{{consultant.statutConsultant}}</span>
      <span class="mat-cell">{{consultant.mdpConsultant}}</span>
      <span class="mat-cell">{{consultant.idAxe}}</span>
      <span class="mat-cell">{{consultant.idSpecialite}}</span>
      <span class="mat-cell">{{consultant.score}}</span>
      <span><button (click)="supprimerConsultant(consultant.idConsultant)" class="btn-delete">Supprimer</button></span>
      <span><button (click)="modifierConsultant(consultant.idConsultant)" class="btn-update">Modifier</button></span>
      <span><button (click)="afficherToutesLesCartesEtatsParConsultant(consultant.idConsultant)" class="btn-view">Details</button></span>
    </mat-expansion-panel-header>
  
    <div (click)="afficherToutesLesCartesEtatsParConsultant(consultant.idConsultant)"> 
      <table class="table">
        <thead>
          <tr>

          </tr>
        </thead>
        <tbody>
         
          <tr *ngFor="let cours of coursAvecProprietesUniques">
            <ng-container *ngIf="convertirIdCoursEnLettre(cours.idCours) !== 'Not Found'">
              <td>{{ convertirIdCoursEnLettre(cours.idCours) }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <ng-container *ngIf="cours.isActif && !cours.isFinis">
                ⌛ Le cours est en cours d'apprentissage
              </ng-container>
              <ng-container *ngIf="!cours.isActif && cours.isFinis">
                ✅ Le cours est terminé
              </ng-container>
              <ng-container *ngIf="cours.isVosCours">
                ❌ Le cours n'a pas encore commencé
              </ng-container>
            </ng-container>
          </tr>


        </tbody>
      </table>
    </div>

  </mat-expansion-panel>
  
</mat-accordion>
</div>
</body> 
</html>