
body {
    background-color: #FDFDFD;
    margin: 0;
  }

  :root {
    --color-green: #409504;
    --color-blue: #07968D;
    --color-pink: #960A96;
    --color-orange: #957009;
  }
  
  
  /* NIK MOK L'IMAGE RETRECIS LBABAK*/ 
.text-column img {
  width: 100%;
  max-width: 730px;
  height: auto;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}

.widget2 img {
width: 100%;
max-width: 730px;
height: auto;
max-height: 500px;
display: block;
margin: 0 auto;
}

.text-section img {
width: 100%;
max-width: 730px;
height: auto;
max-height: 500px;
display: block;
margin: 0 auto;
}