
body {
    background-color: #FDFDFD;
    margin: 0;
  }

  :root {
    --color-green: #409504;
    --color-blue: #07968D;
    --color-pink: #960A96;
    --color-orange: #957009;
  }
  
  
  /* NIK MOK L'IMAGE RETRECIS LBABAK*/ 
.text-column img {
  width: 100%;
  max-width: 730px;
  height: auto;
  max-height: 500px;
  display: block;
  margin: 0 auto;
}

.widget2 img {
width: 100%;
max-width: 730px;
height: auto;
max-height: 500px;
display: block;
margin: 0 auto;
}

.text-section img {
width: 100%;
max-width: 730px;
height: auto;
max-height: 500px;
display: block;
margin: 0 auto;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-snackbar {
	background-color: #006400;
	color: white; 
	min-width: 150px; 
	text-align: center; 
	border-radius: 4px; 
  }

  .green-snackbar {
    background: #006400;
    color: white;
}.green-snackbar button {
    background-color: #006400;
    color: white;
    border: none;
}.red-snackbar {
    background: #F44336;
    color: white;
}.red-snackbar button {
    background-color: #F44336;
    color: white !important;
    border: none;
}